#top_menu {
	width:100%;
	min-width:800px;
	height:40px;
	margin: 0px;
	padding: 0 12px;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
	position:relative;
	background:#e25050;
	z-index:100;
	
	#main_navigation_menu {
		height:100%;
		width:500px;
		min-width:500px;
		position:relative;
		display:inline-block;
		float:left;
	
		#main_navigation_dropdown {
			height:100%;
			width:40px;
			min-width:40px;
			position:relative;
			display:inline-block;
			float:left;
			
			#main_navigation_dropdown_menu_icon{
				font-size:32px;
				line-height:40px;
				color:#fafafa;
			}
		}
	}

	#user_menu {
		height:100%;
		width:250px;
		min-width:250px;
		position:relative;
		display:inline-block;
		float:right;

		#user_menu_icon {
			font-size:32px;
			line-height:40px;
			color:#fafafa;
			float:right;
		}		
	}
}

#site_name_wrapper {
	height:100%;
	width:calc(100% - 40px);
	position:relative;
	display:inline-block;
	float:right;
	
	h1 {
		line-height:40px;
		color: #5a4242;
		padding-left:50px;
		small {
			color: #f7bcbc;
			font-size:50%;
		}
	}
}

#left_menu {
	width:250px;
	height:calc(100% - 40px);
	background-color:#fafafa;
	border-right: 1.1px solid #d3d3d3;
	position:relative;
	z-index:50;
	padding-top:10px;
	float:left;

	div {
		position:relative;
		background:rgb(250, 250, 250);
		height:50px;
		width:100%;
		padding-left: 15px;

		i {
                	font-size:32px;
                	color:#dadada;
                	line-height:50px;
        	}

		span {
			position:absolute;
			right:10px;
			top:10px;
			width: 140px;
			color: #a29e98;
			font-size: 20px;
			font-weight: lighter;
		}
	}

	div.selected {
                position:relative;
                background:#eae9e9;
                height:50px;
                width:100%;
                padding-left: 15px;
                i {
                        font-size:32px;
                        color:#ffffff;
                        line-height:50px;
                }
                span {
                        position:absolute;
                        right:10px;
                        top:10px;
                        width: 140px;
                        color: #ffffff;
                        font-size: 20px;
                        font-weight: lighter;
                }
        }
}

#main_content {
	width: calc(100% - 250px);
	height: calc(100% - 40px);
	position:relative;
	float:right;

	#home_content {
		height:100%;
		width:100%;		

		div.v-spinner{
			text-align:center;
		}
		#banner_tile {

		}
	}
}

#login {

	font-family: Helvetica, Arial, sans-serif;

	ul {
		padding: 0;
	}
	.user {
		height: 30px;
		line-height: 30px;
		padding: 10px;
		border-top: 1px solid #eee;
		overflow: hidden;
		transition: all .25s ease;
	}

	.user:last-child {
		border-bottom: 1px solid #eee;
	}

	.v-enter, .v-leave-active {
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
		border-top-width: 0;
		border-bottom-width: 0;
	}

	.errors {
		color: #f00;
	}
}

.tile {
	position: relative;
	width: calc(100% / 2 - 1rem);
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 1rem;
	margin-top: 1rem;
	padding-top: 0.75rem;
	border-radius: 6px;
	background-color: white;
	box-shadow: 0 0 0 1px #c5d0d1;
	backface-visibility: hidden;
	transform-origin: 10% 50%;
	z-index: 1;

	@media (min-width: 800px) { width: calc(100% / 3 - 1rem) }
}
