html {
	position:relative;
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
}

body {
	position:relative;
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
}

#main {
	background-color:#fff;
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	position:relative;
	z-index:1;
}

